# Fichiers de configuration sensibles
.env
config.json

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers de logs
*.log

# Dossiers temporaires
tmp/
*.tmp

# Environnement virtuel
venv/
.env/
